<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{home}">
<head th:replace="layouts/header :: header"></head>
<body>
<div th:replace="layouts/navbar :: navbar"></div>
<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Add Product</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<div layout:fragment="content">
    <div class="col-12">
        <h2>Add Product</h2>
        <div th:classappend="'alert-' + (${class != null} ? ${class} : info)" th:if="${message != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        <form th:object="${product}" th:action="@{/api/products/save}" method="post">
            <div class="table-responsive">
            <table class="table table-sm">
                <tr>
                    <div class="form-group">
                    <td colspan="4"><label for="sku">Código de barras</label></td>
                    <td colspan="4"><input autocomplete="off" th:field="*{SKU}" id="sku" placeholder="Código de barras"
                               type="text"
                               class="form-control" th:classappend="${#fields.hasErrors('SKU')} ? 'is-invalid' : ''"></td>
                    <div class="invalid-feedback" th:errors="*{SKU}"></div>
                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td colspan="4"><label for="stock">Product name</label></td>
                        <td colspan="4"><input autocomplete="off" th:field="*{name}" id="stock"
                                               placeholder="name" type="text"
                                               class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"></td>
                        <div class="invalid-feedback" th:errors="*{name}"></div>

                    </div>
                </tr>
                <tr>
                    <div class="form-group">
                    <td colspan="4"><label for="stock">Description</label></td>
                    <td colspan="4"><input autocomplete="off" th:field="*{description}" id="stock"
                               placeholder="Description" type="text"
                               class="form-control" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"></td>
                    <div class="invalid-feedback" th:errors="*{description}"></div>

                </div>
                </tr>
                <tr><div class="form-group">
                    <td colspan="4"><label for="stock">Specifications</label></td>
                    <td colspan="4">
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEspecifications" aria-expanded="false" aria-controls="collapseExample">
                                Specifications
                            </button>
                        </p>
                        <div class="collapse" id="collapseEspecifications">
                            <div class="card card-body">
                                <input type="checkbox" th:field="*{especifications}" name="especifications" value="SSD"/>RAM Memory<br>
                                <input type="checkbox" th:field="*{especifications}" name="especifications" value="SSD"/>SSD<br>
                                <input type="checkbox" th:field="*{especifications}" name="especifications" value="Operating System"/>Operating System<br>
                                <input type="checkbox" th:field="*{especifications}" name="especifications" value="Video Target"/>Video Target
                            </div>
                        </div>
                        <div class="invalid-feedback" th:errors="*{especifications}"></div></td>

                    <div>

                    </div>
                </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td colspan="4"><label for="stock">Category</label></td>
                        <td colspan="4">
                            <p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory" aria-expanded="false" aria-controls="collapseExample">
                                   Categories
                                </button>
                            </p>
                            <div class="collapse" id="collapseCategory">
                                <div class="card card-body">
                                    <input type="checkbox" th:field="*{category}" name="especifications" value="Phones"/>Phones<br>
                                    <input type="checkbox" th:field="*{category}" name="especifications" value="Tablets"/>Tablets<br>
                                    <input type="checkbox" th:field="*{category}" name="especifications" value="Computers"/>Computers<br>
                                    <input type="checkbox" th:field="*{category}" name="especifications" value="Audio"/>Audio<br>
                                    <input type="checkbox" th:field="*{category}" name="especifications" value="Video"/>Video
                                </div>
                            </div>
                    <div class="invalid-feedback" th:errors="*{category}"></div>

                </div>
                </tr>
                <tr>
                    <div class="form-group">
                        <td colspan="4"><label for="stock">Manufacturer</label></td>
                        <td colspan="4"> <input autocomplete="off" th:field="*{manufacturer}" id="price" placeholder="manufacturer"
                                    type="text"
                                    class="form-control" th:classappend="${#fields.hasErrors('manufacturer')} ? 'is-invalid' : ''"></td>
                    <div class="invalid-feedback" th:errors="*{manufacturer}"></div>

                </div></tr>
                <tr>
                    <div class="form-group">
                        <td colspan="4"><label for="stock">Images</label></td>
                        <td colspan="4">
<!--                            <input autocomplete="off" th:field="*{image}" id="price" placeholder="Images"-->
<!--                                   type="text"-->
<!--                                   class="form-control" th:classappend="${#fields.hasErrors('image')} ? 'is-invalid' : ''">-->
                            <input accept="image/png,image/jpeg" th:field="*{image}" #foto required id="images" multiple type="file"
                                   th:classappend="${#fields.hasErrors('image')} ? 'is-invalid' : ''">
                            <app-loading-button [uploading]="uploading" texto="Save" (click)="save()"></app-loading-button></td>
                    <div>
                    </div>
                    <div class="invalid-feedback" th:errors="*{image}"></div>

                </div></tr>
                <tr><div class="form-group">
                    <td colspan="4"><label for="stock">Price</label></td>
                    <td colspan="4"><input autocomplete="off" th:field="*{price}" id="price" placeholder="Price"
                               type="number"
                               class="form-control" th:classappend="${#fields.hasErrors('price')} ? 'is-invalid' : ''"></td>
                    <div class="invalid-feedback" th:errors="*{price}"></div>

                </div></tr>
                <tr><div class="form-group">
                    <td colspan="4"><label for="stock">Stock</label></td>
                    <td colspan="4"><input autocomplete="off" th:field="*{stock}" id="price" placeholder="Stock"
                               type="number"
                               class="form-control" th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''"></td>
                    <div class="invalid-feedback" th:errors="*{stock}"></div>

                </div></tr>
                <tr><div class="form-group">
                    <td colspan="4"><label for="stock">Weight</label></td>
                    <td colspan="4"><input autocomplete="off" th:field="*{weight}" id="price" placeholder="Weight"
                               type="number"
                               class="form-control" th:classappend="${#fields.hasErrors('weight')} ? 'is-invalid' : ''"></td>
                    <div class="invalid-feedback" th:errors="*{weight}"></div>

                </div></tr>
                <tr><div class="form-group">
                    <td colspan="4"><label for="stock">Dimensions</label></td>
                    <td colspan="4">
<!--                        <input autocomplete="off" th:field="*{dimensions}" id="price" placeholder="dimensions"-->
<!--                               type="text"-->
<!--                               class="form-control" th:classappend="${#fields.hasErrors('dimensions')} ? 'is-invalid' : ''">-->
                        <p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDimensions" aria-expanded="false" aria-controls="collapseExample">
                                Dimensions
                            </button>
                        </p>
                        <div class="collapse" id="collapseDimensions">
                            <div class="card card-body">
                                <ol class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <input type="number" th:field="*{dimensions}" name="dimensions" placeholder="Height"/>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <input type="number" th:field="*{dimensions}" name="dimensions" placeholder="Width"/>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <input type="number" th:field="*{dimensions}" name="dimensions" placeholder="Deep"/>
                                    </li>
                                </ol>

                        </div>
                    </td>
                    <div class="invalid-feedback" th:errors="*{dimensions}"></div>
                </div></tr>
                <tr>
                    <td colspan="4"><button class="btn btn-success" type="submit">Save</button></td>
                    <td colspan="4"><a class="btn btn-warning" th:href="@{/api/products/show}">All</a></td>
            </tr>
            </table>
            </div>
        </form>
    </div>
</div>
</div>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>