<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<body>
<div layout:fragment="content">
    <div class="col-12">
        <h2>Products</h2>
        <div th:classappend="'alert-' + (${class != null} ? ${class} : info)" th:if="${message != null}"
             th:text="${message}"
             class="alert">
        </div>
        <a class="btn btn-success mb-2" th:href="@{/api/products/add}">Add</a>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Sku</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.nombre}"></td>
                    <td th:text="${product.codigo}"></td>
                    <td th:text="${product.precio}"></td>
                    <td th:text="${product.existencia}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/api/products/edit/} + ${product.id}">edot <i
                                class="fa fa-edit"></i></a>
                    </td>
                    <td>
                        <form th:action="@{/api/products/delete}" method="post">
                            <input type="hidden" name="id" th:value="${product.id}"/>
                            <button type="submit" class="btn btn-danger">Delete <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>