<!DOCTYPE html>
<html html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home">
<!-- Cargar el CSS de Boostrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<body>
    <div layout:fragment="content" >
        <div class="col-12">
        <h3>User Registration</h3>
        <form action="saveUser" method="post">
            <div class="table-responsive">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"/></td>
                </tr>
                <tr>
                    <td>Role(s)</td>
                    <td>
                        <input type="checkbox" name="roles" value="ADMIN"/>Admin<br>
                        <input type="checkbox" name="roles" value="MANAGER"/>Manager<br>
                        <input type="checkbox" name="roles" value="WINEMAKER"/>WINEMAKER<br>
                        <input type="checkbox" name="roles" value="SELLER"/>SELLER
                    </td>
                </tr>
                <tr><td><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></td></tr>
                <tr>
                    <tr></tr>
                    <td>
                        <input type="submit" value="Register"/>
                    </td>
                </tr>
            </table>
            </div>
        </form>
        <div th:text="${msg}"></div>
        </div>
    </div>
</body>
</html>